:root {
  --btn-color: #c0025e;
}

.btn-shine {
  background: linear-gradient(135deg, #e967a6, #c0025e);
  color: white;
  position: relative;
  overflow: hidden;
}

.btn-shine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: left 0.7s ease;
}

.btn-shine:hover::before {
  left: 100%;
}

@keyframes typing {
  from {
    width: 0ch;
  }
}

@keyframes spin {
  10% {
    transform: translateY(-102%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-202%);
  }
  50% {
    transform: translateY(-200%);
  }

  60% {
    transform: translateY(-302%);
  }

  75% {
    transform: translateY(-300%);
  }

  85% {
    transform: translateY(-402%);
  }

  100% {
    transform: translateY(-400%);
  }
}

.words {
  overflow: hidden;
}
@media only screen and (max-width: 768px){
  .navbar-collapse{background: rgba(255,255,255,0.8); backdrop-filter: blur(15px);
  }
  .navbar-collapse ul li a{color:#c0025e}
  
}

/* sec2 */

.img-overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  left: 0;

  opacity: 0;
  object-fit: fill;
}

.sec2:hover .img-overlay1 {
  opacity: 1;
  transform: scale(1.05);
  transition: 0.5s ease;
}
.sec2 {
  overflow: hidden;
}

@keyframes slide {
  from {
    transform: translateX(-40px);
    opacity: 0.7;
    rotate: 45deg;
  }
  to {
    transform: translateX(600px);
    opacity: 1;
  }
}

@keyframes reverse-slide {
  from {
    transform: translateX(600px);
    opacity: 0.7;
  }
  to {
    transform: translateX(-40px);
    opacity: 1;
    rotate: 45deg;
  }
}

.img1,
.img1-1 {
  filter: hue-rotate(-22deg);
}

/* sec3 */

/* .container3 {
  margin: 10% auto;
  position: relative;
  background: linear-gradient(217deg, rgba(#f29dab, 0.9), rgba(#f29dab, 0) 50%),
    linear-gradient(107deg, rgba(#dd899e, 0.9), rgba(#dd899e, 0) 70%),
    linear-gradient(336deg, rgba(#f2cdc1, 0.9), rgba(#f2cdc1, 0) 60%);
} */

/* #card-container {
  position: relative;
  margin: 20px;
  width: 310px;
  height: 285px;
  z-index: 1;
   float: left; 
  perspective: 1000px;
}

#card,
#card2,
#card3 {
  width: 100%;
  height: 100%;
  margin: 10%;
  transform-style: preserve-3d;
  transition: all 0.9s linear;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
   background:  url( ./images/sec333.avif)top/cover;
} */

/* #card {
  &:hover {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
  }
}

#card2 {
  &:hover {
    transform: rotateY(-180deg);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
  }
}

#card3 {
  &:hover {
    transform: rotateX(180deg);
    box-shadow: 5px -5px 15px rgba(0, 0, 0, 0.3);
  }
  .back {
    transform: rotateX(-180deg);
  }
} */

/* .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  opacity: 0.7;
  background: #f9f3e4;
}

.sec3-title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sec3-title {
  font-size: 1.2em;
  padding-top: 15px;
  color: #dd899e;
} */
@keyframes morph{
  0%, 100%{border-radius: 50%;}

  25%{
    border-radius: 30% 70% 70% 30%/30% 70% 30% 70%;
  }

  50%{
    border-radius: 70% 30% 30% 70%/70% 30% 70% 30%;
  }

  75%{
    border-radius: 50% 50% 30% 50%;
  }
}

@keyframes morph2{
  0%, 100%   {
    border-radius: 50% 50% 30% 50%;
  }

  25%{
 border-radius: 70% 30% 30% 70%/70% 30% 70% 30%;
  }

  50%{
    
       border-radius: 30% 70% 70% 30%/30% 70% 30% 70%;
  }

  75%  {border-radius: 50%;}

}



.shape:hover{
  box-shadow: inset 0 25px 70px rgb(179, 42, 99)!important; transform: scale(1.1);
  transition: 0.5s ease;
}
.shape:hover .shape-btn{
    background: linear-gradient(135deg, #0006, #0006)!important;
    transform: translateY(-25px);
    transition: 0.3s ease;
     box-shadow: 0 0 5px 2px rgb(250, 93, 190), 
                      0 0 12px 7px rgb(255, 63, 143),
                    0 0 35px 10px rgb(179, 42, 99);
    color: white !important;
}
.shape:hover .fireflies{opacity: 1 !important;}
 /* .shape:hover .ctr3{color: rgb(240, 234, 234) !important;} */
.shape:hover .shape-text{opacity: 0 !important;}




      .fireflies li{list-style: none;
border-radius: 50%;
background-color: rgb(255, 73, 185);
background-image: 
radial-gradient(rgb(249, 36, 100) 5%,
                rgb(233, 4, 254) 25%,
                rgb(214, 8, 87) 60%);
box-shadow: 
    0 0 5px 2px rgb(250, 93, 132),
    0 0 20px 10px rgb(255, 140, 174),
    0 0 40px 15px var(--btn-color);
height: 5px;
width: 5px;
top: -20px;
position: absolute;
animation: leftright 24s infinite cubic-bezier(0.39, 0, 0.63, 1),
updown 8s infinite 1.25s cubic-bezier(0.39, 0, 0.63, 1),
blinking 3s infinite;}

.fireflies li:nth-of-type(1) {
  animation-delay: 1s;
  animation-duration: 65s, 81s, 0.01s;
  animation-fill-mode: backwards, backwards;
}



/* It will create the left right movement */
@keyframes leftright {

    0%,
    100% {
        left: 80%;
    }

    16.666% {
        left: 95%;
    }

    33.333% {
        left: 10%;
    }

    50% {
        left: 60%;
    }

    66.666% {
        left: 70%;
    }

    83.333% {
        left: 5%;
    }
}

/* It will create the up down movement */
@keyframes updown {

    0%,
    100% {
        top: 10px;
    }

    25% {
        top: 90%;
    }

    50% {
        top: 50%;
    }

    75% {
        top: 95%;
    }
}

/* It will create the blinking effect */
@keyframes blinking {
    0%,
    100% {
        box-shadow: 0 0 5px 2px rgb(250, 93, 190), 
                      0 0 10px 5px rgb(255, 63, 143),
                    0 0 30px 10px rgb(255, 41, 112);
        height: 0;
        width: 0;
    }

    50% {
        box-shadow: 0 0 5px 2px rgb(250, 93, 242), 
                      0 0 20px 10px rgb(255, 140, 236),
                    0 0 40px 15px rgb(255, 41, 105);
    }

    75% {
        box-shadow: 0 0 0px 0px rgb(250, 93, 166), 
                      0 0 0px 0px rgb(255, 140, 178),
                    0 0 0px 0px rgb(255, 41, 112);
    }
}




/* sec4 */

        .overlap,
.overlap2 {
  top: 0;

  left: 0;
  box-shadow: 0 4px 24px #0002;
  transition: box-shadow 0.2s, transform 0.2s;
  z-index: 1;
  visibility: hidden;
}
.overlap,
.card4 {
  transform: translateX(-40px) rotate(-8deg);
  overflow: hidden;
}

.card4:hover,
.card4-2:hover {
  z-index: 10;
  box-shadow: 0px 8px 32px #0003;
  transform: translateY(-10px);
  transition: 0.3s ease;
}
.card4:hover .overlap,
.card4-2:hover .overlap2 {
  visibility: visible;
  z-index: 10;
  box-shadow: 0px 8px 32px #0003;
  transform: translateY(-10px) scale(1.1);
  transition: 0.4s ease;
}

  

.overlap2,
.card4-2 {
  overflow: hidden;
}
.card4,
.card4-2 {
  width: 350px;
}

button:hover {
  transform: translateY(-3px);
  transition: 0.3s ease;
}



/* gallery */
/* .wrapper {
  display: flex;
  gap: 10px;
  width: 380px;
  padding: 10px;
  border: 2px solid transparent;
  overflow-x: scroll;
} */

/* .wrapper img {
  width: 100%;
  height: 500px;
  object-fit: cover;
} */


/* sec 5 gallery */

.gal-ctr {
  inset: 4px;
}
.gal-box {
  position: relative;
  left: 0;
  width: 420x;
  height: 600px;
  border-radius: 20px;
  flex-wrap: wrap;
}
.inner-box {
  position: absolute;
  inset: 40px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: linear-gradient(135deg, #c0025e, #e967a6);
}



/* team */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.team-card:hover .overlay {
  opacity: 1;
  transform: scale(1.94);
  transition: 0.6s ease;
}
.team-card:hover .team-icons {
  opacity: 1;
  transform: translateY(75px);
  transition: 0.6s ease;
}
.team-card {
  overflow: hidden;
}


/* sec7 testimonials */

.card7{
  width: 360px;
  height: 360px;
  /* background: #cbd5e1; */
  background-image: 
radial-gradient(
                rgb(202, 0, 61) 10%,
                rgba(255,255,255,0.6) 90%);
  cursor: grab;
  transform: perspective(800px) rotateX(45deg) scale(0.7);
  box-shadow: 0 25px 50px rgba(100, 120, 150, 0.3),
  inset 0 -4px 8px rgba(255, 255, 255, 0.6);
  transition: transform 0.5s ease, box-shadow 0.6s ease;
}

.card7:hover{
  transform: rotateX(0deg) scale(1) translateY(-10px);
  box-shadow: 0 35px 70px rgba(80, 100, 130, 0.35),
  inset 0 -6px 10px rgba(255, 255, 255, 0.7);
}


input:checked+label{
  color: var(--btn-color);
  transform: scale(1.3);
  animation: jump 0.4s ease;
}
@keyframes jump{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-40px);
  }
  100%{
    transform: translateY(0);
  }
}
input:active{
  transform: scale(0.9);
}