:root {
  --btn-color: #c0025e;
}

.btn-shine {
  background: linear-gradient(135deg, #e967a6, #c0025e);
  color: white;
  position: relative;
  overflow: hidden;
}

.btn-shine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: left 0.7s ease;
}

.btn-shine:hover::before {
  left: 100%;
}

@keyframes typing {
  from {
    width: 0ch;
  }
}

@keyframes spin {
  10% {
    transform: translateY(-102%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-202%);
  }
  50% {
    transform: translateY(-200%);
  }

  60% {
    transform: translateY(-302%);
  }

  75% {
    transform: translateY(-300%);
  }

  85% {
    transform: translateY(-402%);
  }

  100% {
    transform: translateY(-400%);
  }
}

.words {
  overflow: hidden;
}


/* sec2 */

.img-overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  left: 0;

  opacity: 0;
  object-fit: fill;
}

.sec2:hover .img-overlay1 {
  opacity: 1;
  transform: scale(1.05);
  transition: 0.5s ease;
}
.sec2 {
  overflow: hidden;
}

@keyframes slide {
  from {
    transform: translateX(-40px);
    opacity: 0.7;
    rotate: 45deg;
  }
  to {
    transform: translateX(600px);
    opacity: 1;
  }
}

@keyframes reverse-slide {
  from {
    transform: translateX(600px);
    opacity: 0.7;
  }
  to {
    transform: translateX(-40px);
    opacity: 1;
    rotate: 45deg;
  }
}

.img1,
.img1-1 {
  filter: hue-rotate(-22deg);
}

